#nav-brand {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
}


.homePage {
    background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RLJZG8QQBC.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aboutMe {
	background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#home, #about {
	color: white;
	padding-top: 150px;
	padding-bottom: 600px;
}
