#nav-brand {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
}

.navback {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    );
  background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/GTIYP0R4RE.jpg) no-repeat;
  background-size: 100% auto;
}