.top-header {
	position: fixed;
	width: 100%;
	z-index: 333;
	display: block;
}


#nav-brand {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
}


.home {
    background: url(../images/grey_mountains.jpg) no-repeat;
    background-size: 100% auto;
}

.banner::before {
	width: 150px;
    font-size: 30px;
    color: #fff;
    margin-top: 205px;
    font-weight: 800;
}