#nav-brand {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
}


.homePage {
    background: url(../images/RLJZG8QQBC.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aboutMe {
	background: url(../images/6UHHE19YG7.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#home, #about {
	color: white;
	padding-top: 150px;
	padding-bottom: 600px;
}

.styleHR { 
  height: 30px; 
  border-style: solid; 
  border-color: rgb(212,175,55);
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 